<div class="text-center">
    <div class="card">
        <h3 class="card-header">Device: {{endDeviceID}}</h3>

        <h5>Application ➡️ {{applicationId}}</h5>
        <h5>Device adress ➡️ {{deviceAdress}}</h5>

        <h5>Location (Lat, Long) ➡️ {{location.latitude}}, {{location.longitude}}</h5>
        <h5>User data ➡️ {{name}}</h5>
        <h5>Battery level ➡️ {{batteryLevel}}</h5>
        <h5>Phone ➡️ {{phone}}</h5>
        <h5>Broadcast string ➡️ {{string}}</h5>

        <h5>Latest update ➡️ {{latestUpdate}}</h5>
    </div>
</div>