{{!-- Every render uses this base/master page for having the name 'layout.hbs' https://stackoverflow.com/q/26871522/9375488 --}}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <link href="/bootstrap-min.css" rel="stylesheet">

    <title>{{title}}</title>
    </head>

    <body>
        {{!-- https://getbootstrap.com/docs/4.0/components/navbar/ --}}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <ul class="navbar-nav" id="navBarUnorderedList">
                    <li class="nav-item">
                        <a class="nav-link" href={{homePath}}>Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href={{messagesPath}}>Messages</a>
                    </li> 
                </ul>

                <ul class="navbar-nav" id="navBarUnorderedList">
                    <li class="nav-item">
                        <a class="nav-link" href={{docsPath}}>Docs</a>
                    </li>  
                </ul>
                
            </div>
        </nav>

        {{{body}}} {{!-- https://handlebarsjs.com/guide/expressions.html#html-escaping https://stackoverflow.com/a/30012816/9375488 --}}
        
    </body>
</html>
