<div>
    <div class="card">
        <h3 class="card-header">Message: {{messageId}}</h3>

        <h5 class="p-2">End Device: {{endDeviceId}}</h5>
        
        <p class="p-2">Application: {{applicationId}}</p>
        <p class="p-2">Device Address: {{deviceAddress}}</p>
        
        <p class="p-2">Characteristic: {{serviceCharacteristic}}</p>
        <p class="p-2">Payload: {{payload}}</p>
        
        <p class="p-2">Location (Lat, Long) ➡️ {{location.latitude}}, {{location.longitude}}</p>
            
        <p class="p-2">Received At: {{receivedAt}}</p>
    </div>
</div>