<div>
    <h2 class="mb-4" style="text-align: center">Message: {{messageId}}</h2>
    <div class="row">
        <div class="col">
            <p class="p-2">Payload: {{payload}}</p>
            <p class="p-2">Service Characteristic: {{serviceCharacteristic}}</p>
            <p class="p-2">Application: {{applicationId}}</p>
            <p class="p-2">End Device: {{endDeviceId}}</p>
            <p class="p-2">Device Address: {{deviceAddress}}</p>
            <p class="p-2">Location: </p>
            <div class="row">
                <div class="col">
                    <p class="p-2">Latitude: {{location.latitude}}</p>
                </div>
                <div class="col">
                    <p class="p-2">Longitude: {{location.longitude}}</p>
                </div>
            </div>
                
            <p class="p-2">Received At: {{receivedAt}}</p>
        </div>
        
    </div>
</div>