<div class="text-center">
    <h1>Messages of Application {{applicationId}}</h1>

    <span>Filter by characteristic (optional):</span>
    <select id="characteristicSelection" onchange="updateQueryCharacteristic(this.value)">
    {{#each characteristics}}
        <option value="{{code}}">{{inString}}</option>
    {{/each}}
    </select>

    {{#each messages}}
        {{> messageItem}} {{!-- The '> messageItem' says that this variable is to be interpreted as a .hbs view --}}
    {{/each}}

    
    <button class="btn btn-primary btn-block" type="submit" 
            name="page" value={{pageNumber}}
            onclick="nextPage(this.value)"
            >
        Next page
    </button>

    <button style="margin: 20px; width: 200px;" class="btn btn-primary btn-danger" 
           type="submit" id="deleteAllMessagesButton"
           onclick="deleteAllMessages()">Delete ALL messages
    </button>

    <script>

        const selector = document.getElementById("characteristicSelection")
        const keyword = "characteristic="
        if(window.location.search.includes("characteristic")){
            const characteristicQueryIdx = window.location.search.indexOf(keyword)
            const endOfKeywordAndEqualOperator = characteristicQueryIdx + keyword.length
            const syncronizedSelectorValue = window.location.search.substring(endOfKeywordAndEqualOperator, endOfKeywordAndEqualOperator+1)
            selector.value = syncronizedSelectorValue
        }

        function nextPage(value){
            console.log("page:", value)
            let newQuery = "?page=" + value

            let query = window.location.search //gets query params client side
            if(query.includes("characteristic")) newQuery = newQuery + "&characteristic=" + selector.value //TODO fix harcoded

            window.location.href = window.location.pathname + newQuery 
        }

        function updateQueryCharacteristic(code){
            console.log("characteristic code", code)
            let query = window.location.search //gets query params client side
            if(! query.includes("characteristic")) query = query + "?characteristic=" //TODO fix harcoded

            let newQuery = "?"

            const queries = query.split("?")
            queries.forEach(q => {
                if(q.includes("characteristic")){
                    let queryAndEqual = q.substring(0, q.lastIndexOf("=") + 1)
                    if(newQuery.includes("=")) queryAndEqual = "&" + queryAndEqual
                    newQuery = newQuery + queryAndEqual + code
                } else {
                    if(newQuery.includes("=")) queryAndEqual = "&" + queryAndEqual
                    newQuery = newQuery + q
                }
            })
            console.log("New path = ", window.location.pathname + newQuery )
            window.location.href = window.location.pathname + newQuery 
        }

        function deleteAllMessages(){
            let deviceID = prompt("Device ID?", "eui-70b3d57ed005bfb0");
            if (deviceID!="") {
                const apiPath = getHandlBarsOptionString(`${{{apiPath}}}`) //apiPath needs to be converted to string otherwise the error occurs: "unterminated regular expression literal" because the double brackets are not included in the apiPath value
                const funcSetPath = {{{function_deleteAllMessagesSetPath}}} //(see handlebars registered helpers in server.mjs)  https://handlebarsjs.com/guide/#html-escaping
                
                const refreshPath = getHandlBarsOptionString(`${{{refreshPath}}}`)
                
                fetx(funcSetPath(deviceID), "DELETE").then(_ => {
                    location.href = refreshPath
                })
            } 
            else alert("Invalid device ID")
        }

        function getHandlBarsOptionString(str){
            return str.substring(1, str.length) //because the '$' is included in the string... this seems to only occurr inside scripts
        }
    </script>
    
</div>