<div class="text-center">
    <div class="card">
        <h5 class="card-header"><a href={{messagePage}}>Message : {{messageId}}</a></h5>
        <h3>Application : {{applicationId}}</h3>
        <h3>End Device : {{endDeviceId}}</h3>
        <h3>Payload raw : {{payload}}</h3>
        <h3>Payload string : {{payloadStr}}</h3>
        <h3>Received At : {{receivedAt}}</h3>

        <div class="d-grid gap-2 col-6 mx-auto" style="width: 200px;">
            <form action="/messages/{{messageId}}/delete" method="POST">
                <input class="btn btn-primary btn-block" type="submit" value="Delete message" />
            </form>
        </div>

    </div>
</div>