<div class="text-center">
    <div class="card">
        <h3 class="card-header"><a href={{messagePage}}>Message : {{messageId}}</a></h3>
        <h5>End Device : {{endDeviceId}}</h5>

        <div class="card" style="max-width: fit-content; margin: 0 auto;">
            <div class="card-body bg-light mb-3">
                <ul>
                    <h3>Payload</h3>
                    <li>Hexadecimal ➡️ {{payload}}</li>
                    <li>ASCII ➡️ {{payloadASCII}}</li>
                    <li>Base64 ➡️ {{payloadStr}}</li>
                </ul>
            </div>
        </div>

        <h3>Received At : {{receivedAt}}</h3>

        <div class="d-grid gap-2 col-6 mx-auto" style="width: 200px;">
            <form action="/messages/{{messageId}}/delete" method="POST">
                <input class="btn btn-primary btn-block" type="submit" value="Delete message" />
            </form>
        </div>

    </div>
</div>