<div class="text-center">
    <h2><a href={{messagePage}}>Message : {{messageId}}</a></h2>
    <h3>Application : {{applicationId}}</h3>
    <h3>End Device : {{endDeviceId}}</h3>
    <h3>Payload : {{payload}}</h3>
    <h3>Received At : {{receivedAt}}</h3>
    <button id="deleteMessageButton" type="submit"></button>
</div>

<script>
    document.getElementsById("deleteMessageButton").onclick = function() {

    }
</script>